.wrap {
  width: 100wh;
  height: 100vh;
  background-color: #333;
}
.wrap .content1 {
  width: 100%;
  height: 33%;
  display: flex;
}
.wrap .content1 .floor_1 {
  width: 33.3333%;
  background-color: #888;
  margin: 2rem;
  border-radius: 1rem;
}
.wrap .content1 .floor_1 .display {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border-bottom: 2px solid #fff;
  position: relative;
}
.wrap .content1 .floor_1 .value_box {
  display: flex;
}
.wrap .content1 .floor_1 .value_box .temperature {
  width: 50%;
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  color: lightgreen;
}
.wrap .content1 .floor_1 .value_box .humidity {
  width: 50%;
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  color: lightgreen;
}
.wrap .content1 .title {
  width: 33.3333%;
  margin: 2rem;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.5;
}
.wrap .content1 .floor_2 {
  width: 33.33333%;
  margin: 2rem;
  background-color: #888;
  border-radius: 1rem;
}
.wrap .content1 .floor_2 .display {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.wrap .content1 .floor_2 .value_box {
  display: flex;
}
.wrap .content1 .floor_2 .value_box .temperature {
  width: 50%;
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  color: lightgreen;
}
.wrap .content1 .floor_2 .value_box .humidity {
  width: 50%;
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  color: lightgreen;
}
.wrap .content2 {
  width: 100%;
  height: 33%;
}
.wrap .content2 ul {
  display: flex;
  height: 100%;
}
.wrap .content2 ul li {
  margin: 0.5rem;
  padding: 1rem;
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #444;
}
.wrap .content2 ul li .equipment_name {
  margin: 0.7rem;
  border-bottom: 2px solid #fff;
}
.wrap .content2 ul .img_box {
  position: relative;
}
.wrap .content2 ul .img_box img {
  width: 100%;
}
.wrap .content2 ul .img_box .needle {
  position: absolute;
  width: 37%;
  height: 0.5rem;
  background-color: #fff;
  left: 31.5%;
  bottom: 1.5rem;
  transform-origin: right center;
}
.wrap .content2 ul .value {
  font-size: 2rem;
}
.wrap .content3 {
  width: 100%;
  height: 33%;
}
.wrap .content3 ul {
  display: flex;
  height: 100%;
}
.wrap .content3 ul li {
  margin: 0.5rem;
  padding: 1rem;
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #444;
}
.wrap .content3 ul li .equipment_name {
  margin: 0.7rem;
  border-bottom: 2px solid #fff;
}
.wrap .content3 ul .img_box {
  position: relative;
}
.wrap .content3 ul .img_box img {
  width: 100%;
}
.wrap .content3 ul .img_box .needle {
  position: absolute;
  width: 37%;
  height: 0.5rem;
  background-color: #fff;
  left: 31.5%;
  bottom: 1.5rem;
  transform-origin: right center;
}
.wrap .content3 ul .value {
  font-size: 2rem;
}

.power {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: red;
}/*# sourceMappingURL=style.css.map */